.movie-best-container {
  .movie-best {
    position: relative;
    margin-top: -100px;
    z-index: 50;

    .movie-best_rating {
      background-color: #ffd564;
      text-align: center;
      font: 20px 'aleobold', sans-serif;
      color: #4c4145;
      text-transform: uppercase;
      padding-bottom: 25px;
      padding-top: 26px;
      position: relative;
      line-height: 1;

      &:before {
        content: "";
        background-image: url("../img/components/stars.svg");
        background-repeat: no-repeat;
        height: 20px;
        left: 50%;
        margin-left: -205px;
        position: absolute;
        top: 27px;
        width: 95px;
      }

      &:after {
        content: "";
        background-image: url("../img/components/stars.svg");
        background-repeat: no-repeat;
        height: 20px;
        margin-right: -205px;
        position: absolute;
        right: 50%;
        top: 27px;
        width: 95px;
      }
    }

    .movie-beta_item {
      width: 16.666666%;
      float: left;
      position: relative;
      z-index: 7;
      box-sizing: border-box;
      // overflow: hidden;

      img {
        max-width: 100%;
      }

      .best-rate {
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 50px;
        color: #4C4145;
        font: bold 20px 'Aleo', sans-serif;
        height: 62px;
        left: 50%;
        margin-left: -50px;
        margin-top: -50px;
        padding-top: 38px;
        position: absolute;
        text-align: center;
        top: 50%;
        width: 100px;
        -webkit-transition: 0.5s;
        transition: 0.5s;

        &:before {
          background-image: url('../img/components/star.svg');
          background-repeat: no-repeat;
          background-size: 14px 14px;
          content: "";
          height: 14px;
          left: 50%;
          margin-left: -7px;
          position: absolute;
          top: 20px;
          width: 14px;
        }

        &:after {
          background-image: url('../img/components/star.svg');
          background-repeat: no-repeat;
          background-size: 14px 14px;
          bottom: 20px;
          content: "";
          height: 14px;
          left: 50%;
          margin-left: -7px;
          position: absolute;
          width: 14px;
        }
      }

      .movie-beta_info {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -o-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
        background-color: #4c4145;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        visibility: hidden;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -o-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        -webkit-transition: 0.5s;
        transition: 0.5s;
        list-style: none;
        margin: 0;
        width: 100%;

        * {
          color: #b4b1b2;
          // margin-bottom: 14px;
          padding: 0 5px;
          line-height: 14px;
          font-size: 12px;
        }

        li {
          border-bottom: 1px solid rgba(180, 177, 178, 0.5);
          // padding-top: 7px;
          // padding-bottom: 3px;
        }

        .best-voted {
          padding-top: 10px;
          padding-bottom: 7px;
          display: inline-block;
          margin-bottom: 8px;
        }

        .movie__time {
          position: relative;
          padding-left: 23px;

          &:before {
            content: "\f017";
            font: 16px "FontAwesome";
            color: #b4b1b2;
            position: absolute;
            top: 0px;
            left: 3px;
          }
        }

        .last-block {
          border: none;
          margin-bottom: 0;
          padding-top: 7px;
          padding-bottom: 3px;

          .slide__link {
            color: #fe505a;
            font: 16px 'aleoregular', sans-serif;
            padding-right: 20px;
            text-transform: uppercase;
            position: relative;
            display: inline-block;
            padding-bottom: 2px;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            padding-top: 4px;
            padding-bottom: 5px;
            padding-right: 30px;
            text-decoration: none;
            cursor: pointer;

            &:hover {
              background-color: #fe505a;
              color: #ffffff;

              &:before {
                color: #ffffff;
              }
            }

            &:before {
              color: #fe505a;
              content: "\f054";
              font: 14px "FontAwesome";
              position: absolute;
              right: 10px;
              top: 9px;
              -webkit-transition: 0.3s;
              transition: 0.3s;
            }
          }
        }

        @media (max-width: 1199px) and (min-width: 992px) {
          .best-voted {
            padding-top: 5px;
            padding-bottom: 3px;
            margin-bottom: 4px;
          }
        }

      }

      &:hover {
        .best-rate {
          background-color: #ffd564;
        }

        .movie-beta_info {
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -o-transform: translateY(100%);
          -ms-transform: translateY(100%);
          transform: translateY(100%);
          visibility: visible;
        }
      }
    }

    .movie-best__check {
      // cursor: pointer;
      position: relative;
      background-color: #ffd564;
      text-align: center;
      -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      font: 12px;
      text-transform: uppercase;
      color: #4c4145;
      padding-top: 55px;
      padding-bottom: 15px;
    }
  }
}
